<!DOCTYPE html>
<html lang="en">
<head>
    <title>M&T Bank Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styleHome.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="topnav">
        <div class="topnav-right">
            <a href="home.html">Home</a>
        </div>
    </div>

    <div class="topnav50">
        <label id="header">Michael Neira</label>
    </div>



{#    <div class="contact_Form">#}
{#        <form name="contactForm" onsubmit="return validEmail()" action="mailto:michaelneira54@gmail.com" method="post" enctype="text/plain" >#}
{#        <div class="row">#}
{#            <div class="leftCol">#}
{#                <label id="lbl_first_Name">First Name:</label>#}
{#            </div>#}
{#                <div class="rightCol">#}
{#                    <input type="text" id="fName" name="firstName" placeholder="Enter your first name here..">#}
{#                </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="leftCol">#}
{#                <label id="lbl_last_Name">Last Name:</label>#}
{#            </div>#}
{#                <div class="rightCol">#}
{#                    <input type="text" id="lName" name="lastName" placeholder="Enter your last name here..">#}
{#                </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="leftCol">#}
{#                <label id="lbl_email">E-Mail address:</label>#}
{#            </div>#}
{#            <div class="rightCol">#}
{#                <input type="text" id="eAddress" name="emailAddress" placeholder="Type e-mail address here.." required>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="leftCol">#}
{#                <label id="lbl_email_subject">Subject of E-Mail:</label>#}
{#            </div>#}
{#            <div class="rightCol">#}
{#                <input type="text" id="sEmail" name="emailSubject" placeholder="Type subject of e-mail here..">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="leftCol">#}
{#                <label id="lbl_Body">Body of E-Mail:</label>#}
{#            </div>#}
{#            <div class="rightCol">#}
{#                <textarea id="eBody" name="emailBody" placeholder="Write message here.." style="height:200px" required></textarea>#}
{#            </div>#}
{#        </div>#}
{#        <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>#}
{#        <div class="row">#}
{#            <div class="btnCorner">#}
{#                <button type=submit id="btn_submit">Submit</button>#}
{#            </div>#}
{#        </div>#}
{##}
{#        </form>#}
{#    </div>#}



</body>

</html>