<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/styleLogin.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="login">
        <div id="login_title">
            <center><h1>Login</h1></center>
        </div>
        <form id="login_form">
            <p>
                <center><input id="username" type="text" placeholder="Username"></center>
            </p>
            <p>
                <input id="password" type="text" placeholder="Password">
            </p>

{#            <center><button id="login_submit" type="button" class="float-left submit-button" >Login</button></center>#}
{#                <script type="text/javascript">#}
{#                    document.getElementById("button").onclick = function () {#}
                        {#location.href="Templates/home.html";#}
{#                        window.location.href="Templates/home.html";#}
{#                    };#}
{#                </script>#}

            <p>
                 <center><button id="login_submit" type="button" onclick="window.location.href='home'">Login</button></center>
{#                            <a href="home.html">Home</a>#}
            </p>
        </form>
    </div>
</body>
</html>