<!DOCTYPE html>
<html lang="en">
<head>
    <title>M&T Bank Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/styleVerification_failure.css"/>
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"#}
{#              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
</head>

<body>
    <div class="topnav">
        <div class="topnav-right">
{#            <a href="home.html">Home</a>#}
        </div>
    </div>

    <div class="topnav50">
        <div class="headerLabelMT">
            <label id="header">M&T </label>
        </div>
    </div>

    <div class="topnav50_2">
         <div class="headerLabelBank">
             <label id="header2">Bank </label>
         </div>
    </div>



    <div class="contact_Form">
{#        <form name="contactForm" onsubmit="return validEmail()" action="mailto:michaelneira54@gmail.com" method="post" enctype="text/plain" >#}
        <div class="row">
            <div class="middleCol">
                <label id="lbl_first_Name"> <h1> Title Is INVALID </h1> </label>
            </div>

            <br>

            <div class="middleColFailure">
                <label id="lbl_first_Name"> <h2> List of Failures: </h2> </label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btnCorner">
{#                <button type=submit id="btn_submit">[list here]</button>#}
                <ul>
                    <li>Outstanding Leins:      5</li>
                    <li>Unpaid Taxes:           2 </li>
                    <li>Outstnding Judgements:  1</li>
                </ul>
            </div>
        </div>
    </div>



</body>

</html>